<!-- Favicon des del lloc principal (ruta absoluta) -->
<link rel="icon" type="image/png" href="https://guardianhubx.com/icons/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="https://guardianhubx.com/icons/favicon.svg" />
<link rel="shortcut icon" href="https://guardianhubx.com/icons/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="https://guardianhubx.com/icons/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="GuardianHubX" />