{{- /* layouts/partials/pagination.html */ -}}
{{- if gt .TotalPages 1 }}
<footer class="page-footer">
  <nav class="pagination">
    {{- if .HasPrev }}
      <a class="prev" href="{{ .Prev.Permalink }}">
        «&nbsp;{{ i18n "prev_page" }}
        {{- if (.Param "ShowPageNums") }} {{ sub .PageNumber 1 }}/{{ .TotalPages }}{{ end }}
      </a>
    {{- end }}
    {{- if .HasNext }}
      <a class="next" href="{{ .Next.Permalink }}">
        {{ i18n "next_page" }}&nbsp;
        {{- if (.Param "ShowPageNums") }} {{ add .PageNumber 1 }}/{{ .TotalPages }}{{ end }}&nbsp;»
      </a>
    {{- end }}
  </nav>
</footer>
{{- end }}